body {
    background-color: beige;
}

.container {
    margin-top: 100px;
    margin-bottom: 100px;
    max-width: 600px;
}


    

.itemContainer {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.inputContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 80px;
    padding:   0 10px ;
    background-color: #fff;
    border-bottom: 1px  rgb(32, 94, 55) ;
}

.productName {
    width: 80%;
    font-size: 14;
}

.productImage {
    height: 80%;
}